[submodule "Frameworks/TNKit"]
	path = Frameworks/TNKit
	url = https://github.com/primalmotion/TNKit.git
[submodule "Frameworks/LPKit"]
	path = Frameworks/LPKit
	url = git://github.com/gorenje/LPKit.git
